{{!-- <h1>Live Mouse Pointers</h1> --}}
<form class="input-container">
    <div>
        <input type="text" placeholder="enter your name" />
        <button>Add User</button>
    </div>
</form>

<canvas></canvas>

<div class="container"></div>

<script src="/socket.io/socket.io.js"></script>

<script type="module" src="/javascripts/helper.js"></script>
<script type="module" src="/javascripts/utility.js"></script>