<h1>{{title}}</h1>

<div>
    <input type="text">
    <button>Add User</button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();


    socket.on("connect", () => {
        console.log('user is connected')
    })


</script>