<h1>{{title}}</h1>

<div>
    <input type="text">
    <button>Add User</button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    const input = document.querySelector("input");
    const button = document.querySelector("button");
    button.addEventListener("click", () => {
        socket.emit("new-user", input.value)
        input.value = "";
    })


    socket.on("connect", () => {
        console.log('user is connected')
    })

</script>